USE [db_fixmatchai]
GO
/****** Object:  Table [dbo].[detail_recents]    Script Date: 3/13/2026 4:23:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detail_recents](
	[id_detail_r] [int] IDENTITY(1,1) NOT NULL,
	[id_recents] [int] NULL,
	[conversation] [nvarchar](max) NULL,
	[role] [int] NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_detail_recents] PRIMARY KEY CLUSTERED 
(
	[id_detail_r] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recents]    Script Date: 3/13/2026 4:23:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recents](
	[id_recents] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[judul_recents] [varchar](355) NULL,
 CONSTRAINT [PK_recents] PRIMARY KEY CLUSTERED 
(
	[id_recents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[style_preferences]    Script Date: 3/13/2026 4:23:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[style_preferences](
	[id_preference] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[id_styles] [int] NULL,
 CONSTRAINT [PK_style_preferences] PRIMARY KEY CLUSTERED 
(
	[id_preference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[styles]    Script Date: 3/13/2026 4:23:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[styles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[style_name] [varchar](255) NULL,
 CONSTRAINT [PK_styles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_wardrobe]    Script Date: 3/13/2026 4:23:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_wardrobe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_wardrobe] [varchar](50) NULL,
 CONSTRAINT [PK_type_wardrobe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/13/2026 4:23:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](1024) NULL,
	[role] [int] NULL,
	[is_active] [int] NULL,
	[is_premium] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wardrobe]    Script Date: 3/13/2026 4:23:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wardrobe](
	[id_wardrobe] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[id_jenis_wardrobe] [int] NULL,
	[nama_item] [varchar](255) NULL,
	[file_name] [varchar](255) NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_wardrobe] PRIMARY KEY CLUSTERED 
(
	[id_wardrobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [nama], [email], [password], [role], [is_active], [is_premium], [created_at], [updated_at]) VALUES (2, N'Maulana Saepul Akbar', N'lanayeager12@gmail.com', N'$2y$10$mXkd.ccq4E1GiDgfLHJRTuwZSFDg/IKK4wSAaISQ.Jdj.cNwiCI7O', 1, 1, 1, CAST(N'2026-03-12T21:05:40.000' AS DateTime), CAST(N'2026-03-12T21:05:40.000' AS DateTime))
INSERT [dbo].[users] ([id], [nama], [email], [password], [role], [is_active], [is_premium], [created_at], [updated_at]) VALUES (3, N'Muhammad Syafiq Agus', N'muhammad.agus.fict@krw.horizon.ac.id', N'$2y$10$BisIjWCjkxkjwx2hycRHXuTbFBxzPsb.CViPu6D9My0xfLQHll2OO', 2, 0, 1, CAST(N'2026-03-12T21:16:01.000' AS DateTime), CAST(N'2026-03-12T21:16:01.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_create_at]  DEFAULT (getdate()) FOR [created_at]
GO
