USE [db_fixmatchai]
GO
/****** Object:  Table [dbo].[body_shape_user]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[body_shape_user](
	[id_dt] [int] IDENTITY(1,1) NOT NULL,
	[id_body_shape] [int] NULL,
	[id_user] [int] NULL,
 CONSTRAINT [PK_body_shape_user] PRIMARY KEY CLUSTERED 
(
	[id_dt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detail_recents]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detail_recents](
	[id_detail_r] [int] IDENTITY(1,1) NOT NULL,
	[id_recents] [int] NULL,
	[conversation] [nvarchar](max) NULL,
	[role] [int] NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_detail_recents] PRIMARY KEY CLUSTERED 
(
	[id_detail_r] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dt_body_shape]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_body_shape](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jenis_b_shape] [varchar](50) NULL,
	[image_b_shape] [varchar](256) NULL,
 CONSTRAINT [PK_dt_body_shape] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recents]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recents](
	[id_recents] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[judul_recents] [varchar](355) NULL,
	[slug] [varchar](32) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_recents] PRIMARY KEY CLUSTERED 
(
	[id_recents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[style_preferences]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[style_preferences](
	[id_preference] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[id_styles] [int] NULL,
 CONSTRAINT [PK_style_preferences] PRIMARY KEY CLUSTERED 
(
	[id_preference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[styles]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[styles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[style_name] [varchar](255) NULL,
	[image_style] [varchar](255) NULL,
 CONSTRAINT [PK_styles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_wardrobe]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_wardrobe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_wardrobe] [varchar](50) NULL,
 CONSTRAINT [PK_type_wardrobe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](1024) NULL,
	[role] [int] NULL,
	[is_active] [int] NULL,
	[is_premium] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wardrobe]    Script Date: 3/29/2026 11:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wardrobe](
	[id_wardrobe] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[id_jenis_wardrobe] [int] NULL,
	[nama_item] [varchar](255) NULL,
	[file_name] [varchar](255) NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_wardrobe] PRIMARY KEY CLUSTERED 
(
	[id_wardrobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[body_shape_user] ON 

INSERT [dbo].[body_shape_user] ([id_dt], [id_body_shape], [id_user]) VALUES (1, 2, 2)
SET IDENTITY_INSERT [dbo].[body_shape_user] OFF
GO
SET IDENTITY_INSERT [dbo].[dt_body_shape] ON 

INSERT [dbo].[dt_body_shape] ([id], [jenis_b_shape], [image_b_shape]) VALUES (1, N'Hourglass', N'hourglass.png')
INSERT [dbo].[dt_body_shape] ([id], [jenis_b_shape], [image_b_shape]) VALUES (2, N'Pear', N'pear.png')
INSERT [dbo].[dt_body_shape] ([id], [jenis_b_shape], [image_b_shape]) VALUES (3, N'Apple', N'apple.png')
SET IDENTITY_INSERT [dbo].[dt_body_shape] OFF
GO
SET IDENTITY_INSERT [dbo].[style_preferences] ON 

INSERT [dbo].[style_preferences] ([id_preference], [id_user], [id_styles]) VALUES (1, 2, 1)
INSERT [dbo].[style_preferences] ([id_preference], [id_user], [id_styles]) VALUES (3, 2, 3)
INSERT [dbo].[style_preferences] ([id_preference], [id_user], [id_styles]) VALUES (1002, 2, 5)
SET IDENTITY_INSERT [dbo].[style_preferences] OFF
GO
SET IDENTITY_INSERT [dbo].[styles] ON 

INSERT [dbo].[styles] ([id], [style_name], [image_style]) VALUES (1, N'Minimalist', N'minimalist.png')
INSERT [dbo].[styles] ([id], [style_name], [image_style]) VALUES (2, N'Bohemian', N'bohemian.png')
INSERT [dbo].[styles] ([id], [style_name], [image_style]) VALUES (3, N'Classic', N'classic.png')
SET IDENTITY_INSERT [dbo].[styles] OFF
GO
SET IDENTITY_INSERT [dbo].[type_wardrobe] ON 

INSERT [dbo].[type_wardrobe] ([id], [type_wardrobe]) VALUES (1, N'Shirts')
INSERT [dbo].[type_wardrobe] ([id], [type_wardrobe]) VALUES (2, N'Pants')
INSERT [dbo].[type_wardrobe] ([id], [type_wardrobe]) VALUES (3, N'Accesories')
SET IDENTITY_INSERT [dbo].[type_wardrobe] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [nama], [email], [password], [role], [is_active], [is_premium], [created_at], [updated_at]) VALUES (2, N'Maulana Saepul Akbar', N'lanayeager12@gmail.com', N'$2y$10$mXkd.ccq4E1GiDgfLHJRTuwZSFDg/IKK4wSAaISQ.Jdj.cNwiCI7O', 1, 1, 0, CAST(N'2026-03-12T21:05:40.000' AS DateTime), CAST(N'2026-03-12T21:05:40.000' AS DateTime))
INSERT [dbo].[users] ([id], [nama], [email], [password], [role], [is_active], [is_premium], [created_at], [updated_at]) VALUES (3, N'Muhammad Syafiq Agus', N'muhammad.agus.fict@krw.horizon.ac.id', N'$2y$10$BisIjWCjkxkjwx2hycRHXuTbFBxzPsb.CViPu6D9My0xfLQHll2OO', 2, 0, 1, CAST(N'2026-03-12T21:16:01.000' AS DateTime), CAST(N'2026-03-12T21:16:01.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wardrobe] ON 

INSERT [dbo].[wardrobe] ([id_wardrobe], [id_user], [id_jenis_wardrobe], [nama_item], [file_name], [update_at]) VALUES (12, 2, 1, N'Classic Flannel', N'fixmatchai_zaful_mens_plaid_shirt_long_sleeves_classic_flannel_shirt_button_down_shirt_jacket_tops_1774769004_69c8d36c95e68.jpeg', CAST(N'2026-03-29T14:23:24.000' AS DateTime))
INSERT [dbo].[wardrobe] ([id_wardrobe], [id_user], [id_jenis_wardrobe], [nama_item], [file_name], [update_at]) VALUES (13, 2, 1, N'polo shirt', N'fixmatchai_men_s_essential_rugby_polo_sweatshirt___men_s_new_arrivals___abercrombie_com_1774769022_69c8d37e52d61.jpeg', CAST(N'2026-03-29T14:23:42.000' AS DateTime))
INSERT [dbo].[wardrobe] ([id_wardrobe], [id_user], [id_jenis_wardrobe], [nama_item], [file_name], [update_at]) VALUES (14, 2, 2, N'Celana Putih', N'fixmatchai_download__2__1774769156_69c8d404e0c2d.jpeg', CAST(N'2026-03-29T14:25:56.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[wardrobe] OFF
GO
ALTER TABLE [dbo].[recents] ADD  DEFAULT ('') FOR [slug]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_create_at]  DEFAULT (getdate()) FOR [created_at]
GO
