USE [db_aistyle_advisor]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/12/2026 1:03:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](50) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[role] [int] NULL,
	[is_active] [int] NULL,
	[create_at] [datetime] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wardrobe]    Script Date: 3/12/2026 1:03:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wardrobe](
	[id_wardrobe] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[jenis_wardrobe] [varchar](50) NULL,
	[file_name] [varchar](255) NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_wardrobe] PRIMARY KEY CLUSTERED 
(
	[id_wardrobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [nama], [email], [password], [role], [is_active], [create_at]) VALUES (1, N'Maulana Saepul Akbar', N'lanayeager12@gmail.com', N'123', 1, 1, NULL)
INSERT [dbo].[users] ([id], [nama], [email], [password], [role], [is_active], [create_at]) VALUES (2, N'Muhammad Syafiq Agus', N'syafiq123@gmail.com', N'123', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_create_at]  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[wardrobe] ADD  CONSTRAINT [DF_wardrobe_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
